#search-toolbar {
    --background: royalblue;
}

#search-title {
    color: white;
}

#search-toolbar ion-menu-button {
    --color: white;
}

ion-title {
    text-align: center;
    position: absolute; 
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.avatar{
    width: 45px;
    height: 45px;
}

.custom-col {
    display: flex;
    top: 10px;
    left: 5%;
}

.custom-col ion-label {
    align-self: flex-end;
}

.custom-colo ion-button {
    text-transform: none;
    width: 95%;
}
